@using AirFlight.ViewModels
@model FlightViewModel
@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/flights")

<div class="jumbotron">
    @Html.ValidationSummary("", new { @class = "" })

    <h1>Add a new Flight</h1>
    @using (Html.BeginForm("AddFlight", "Home", FormMethod.Post, new { @class = "needs-validation", @novalidate = "" }))
    {
        @Html.HiddenFor(m => m.DepartureAirportName)
        <input type="hidden" value="@Model.DepartureAirportGeoPoint" id="DepAirportGeoPoint" />
        @Html.HiddenFor(m => m.DestinationAirportName)
        <input type="hidden" value="@Model.DestinationAirportGeoPoint" id="DestAirportGeoPoint" />
        @Html.HiddenFor(m => m.FlightId)
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="departureAirport">Departure Airport</label>
                <br />
                <select name="DepartureAirportGeoPoint" id="departureairport"
                        class="custom-select d-block w-100 form-control" required></select>
                <div class="invalid-feedback">
                    Valid airport is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="destinationAirport">Destination Airport</label>
                <br />
                <select name="DestinationAirportGeoPoint" id="destinationairport"
                        class="custom-select d-block w-100 form-control" required></select>
                <div class="invalid-feedback">
                    Valid airport is required.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="aircraft">Aircraft</label>
                @Html.DropDownListFor(x => Model.SelectedAircraftId,
                        new SelectList(Model.Aircrafts, "Value", "Text"), "--- select an aircraft ---",
                        htmlAttributes: new { @class = "custom-select d-block w-100", @id = "aircraft", @required = "" })
                <div class="invalid-feedback">
                    Please select an Aircraft.
                </div>
            </div>
        </div>
        <hr class="mb-4" />

        if (Model.FlightId == 0)
        {
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add Flight</button>
        }
        else
        {
            <button class="btn btn-primary btn-lg btn-block" type="submit">Edit Flight</button>
        }
    }
</div>