<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Air Flight Company</title>
    @Styles.Render("~/Content/css/appStyle")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">AirFlight Company</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            @Html.ActionLink("Home", "Index", "Home", new { @class = "p-2 text-dark" })
            @Html.ActionLink("Flights", "FlightsList", "Home", new { @class = "p-2 text-dark" })
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Air Flight Company</p>
        </footer>
    </div>
</body>
</html>
